@use "./reset.scss" as *;
@use "./variables/global.scss" as *;
@use "./themes/light.scss" as *;
@use "./themes/dark.scss" as *;

.app {
	min-height: 100vh;
	font: var(--font-m);
	background: var(--bg-color);
	color: var(--primary-color);
}

.content-page {
	display: flex;
}

.page-wrapper {
	padding: 20px;
	flex-grow: 1;
}
