@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/light.scss";
@import "./themes/dark.scss";

.app {
	min-height: 100vh;
	font: var(--font-m);
	background: var(--bg-color);
	color: var(--primary-color);
}

.content-page {
	display: flex;
}

.page-wrapper {
	padding: 20px;
	flex-grow: 1;
}
