# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build выходные директории
dist/
build/
.out/
.out/

# Temporary files
*.log
*.tmp
*.swp

# OS файлы
.DS_Store
Thums.db

# Явное исключение для /config/build
!config/build/